
<h1>Hi <%= @account.name %>,
Welcome to 'Why I Deserve Icecream'!
Share children's learning here and be part of the communitt!

Click <%#= link_to("Here", password_reset_url(host: 'localhost.com')) %> to set your password.
Kind regards,
Yangmei</h1>
