
<h1>Hi <%= @account.name %>,</h1>

<p>
  Welcome to 'Why I Deserve Icecream'!
  Share children's learning here and be part of the community!
</p>

<p>Your temporary password is <%= @password %></p>
<p>
  Click <%= link_to("Here", "https://why-i-deserve-icecream.herokuapp.com/login") %> to log into your account and reset your password!
</p>
<p>
  Kind regards,
  Yangmei
</p>
