
<h1>Hi <%= @account.name %>,</h1>

<p>
  Welcome to 'Why I Deserve Icecream'!
  Share children's learning here and be part of the community!
</p>

<p>Your temporary password is <%= @password %></p>
<p>
  Click <%= link_to("Here", login_path) %> to log into your account and set your password!
</p>
<p>
  Kind regards,
  Yangmei
</p>
