<% if comment.account %>
<h4>Reply: </h4>
 <p><%= comment.content %> </p>
 <p id="comment_account">User: <%= cl_image_tag(comment.account.image, :gravity=>"face", :crop => "fill", :width => 100, :height => 100) %> <%= link_to( comment.account.name, "/accounts/#{comment.account.id}" ) %>
 Created: <%= time_ago_in_words(comment.created_at) %> ago.</p>
 <% end %>
