<% if @current_account.present? %>

  <h1 class = "form">Create your Community Members Here:</h1>

  <%= render(:partial => "form", locals: {new_account: true}) %>

<% else %>
  <h1 class="form">
    You need to log in to see this page!
    <%= link_to("Log in Here!", login_path) %>
  </h1>
<% end %>
